* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
margin: 8px;
}

.Block {
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    border: 2px solid black;
  

}

.Block-1, .Block-2, .Block-3 {
    display: inline;
    background-color:burlywood;
}

.Block-4, .Block-5, .Block-6{
    display: block;
    background-color:yellow;
    height: 100px;
    width: 100px;
}

.Block-7, .Block-8, .Block-9 {
    display: inline-block;
    background-color: greenyellow;
    height: 100px;
    width: 100px;
}
