/* 1. селектор за тегом */ 
/* Вага: 0,0,0,1 (тег) */
span {
    color: red;
}

/* 2. селектор за класом */
    /* Вага: 0,0,1,0 (клас) */
.box-class {
    color: blue;
}

/* 3. селектор ID */
    /* Вага: 0,1,0,0 (id) */   

#unique-id {
    color: green;
}

/* 4. селектор атрибута */
/* Вага: 0,0,1,0 (атрибут) */

[data-type] {
    color: orange;
}

/* 5. селектор за псевдокласом */
/* Вага: 0,0,1,1 (вкладений селектор) */

.nested-wrapper p {
    color: purple;
}

/* 6. селектор за дочірнім елементом */

.parent-list > li {
    color: teal;
}

/* 7. селектор за послідовністю (сусідній) -  розфарбує тільки перший елемент. */
/* Вага: 0,0,2,0 (послідовний селектор) */
.trigger + .follower {
    color: brown;
}
/* пофарбуе тільки елемент2  */
/* Вага: 0,0,2,0 (послідовний селектор) */
.trigger ~ .element2 {
    color: magenta;
}
 /* пофарбуе тільки елемент3  */
 /* Вага: 0,0,2,0 (послідовний селектор) */
.trigger ~ .element3 {
    color: cyan;
}

/* 8. Комбінація: Тег + Клас */
/* Вага: 0,0,1,1 */
div.item {
    color: navy;
}

/*Або*/ 
/* Спрацюе правило каскадності за порядком - колір буде yellowgreen.*/
/* Вага: 0,0,1,1 */
div.highlight {
    color: yellowgreen;
}   

/* 9. Комбінація: Клас + Атрибут */
/* Вага: 0,0,2,0 */

.status[data-active="true"] {
    color: maroon;
}   

/* 10. Складна комбінація: ID + Клас + Дочірній */
/* Вага: 0,1,1,0 */
#main-nav .link {
    color: darkcyan;
}
/* Або - Тег з ID + Дочірній + Клас */
/* Вага: 0,1,1,1 */
div#main-nav > .link {
    color: darkmagenta;
}